.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 1px 1px 3px 5px rgba(0,0,0,0.10), 
      -5px -5px 30px 15px rgba(0,0,0,0.10);
  }

  .card {
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.10), -1px -1px 3px 2px rgba(0,0,0,0.10);
      cursor: pointer;
      transition: 0.4s;
  }

.Nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Nav img{
  width: 210px;
}

.Nav__links{
  width: 70%;
  display: flex;
}
.Nav__links h1 {
  padding-left: 30px;
}

.links{
  text-decoration: none;
}